body{
    background-color: #BEBDBF;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#nome, #buscar{
    height: 30px;
    border-radius: 5px;
    border: #BEBDBF;
}